/* src/components/TweetModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-height: 80%;
  overflow-y: auto;
}

.tweet-preview {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.tweet-preview p {
  font-size: 16px;
  color: #333;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px; /* Ajouter un espace entre le texte et l'image */
}

.tweet-preview img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-publier {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-annuler {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
